@import url(https://fonts.googleapis.com/css?family=Oswald);

.marker-cluster-small {
	background-color: #8FACD6;
	}
.marker-cluster-small div {
	background-color: #8FACD6;
	}

.marker-cluster-medium {
	background-color: #507EBF;
	}
.marker-cluster-medium div {
	background-color: #507EBF;
	}

.marker-cluster-large {
	background-color: #33517A;
	}
.marker-cluster-large div {
	background-color: #33517A;
	}

	/* IE 6-8 fallback colors */
.leaflet-oldie .marker-cluster-small {
	background-color: #8FACD6;
	}
.leaflet-oldie .marker-cluster-small div {
	background-color: #8FACD6;
	}

.leaflet-oldie .marker-cluster-medium {
	background-color: #507EBF;
	}
.leaflet-oldie .marker-cluster-medium div {
	background-color: #507EBF;
	}

.leaflet-oldie .marker-cluster-large {
	background-color: #33517A;
	}
.leaflet-oldie .marker-cluster-large div {
	background-color: #33517A;
}

.marker-cluster {
	background-clip: padding-box;
	border-radius: 20px;
	}
.marker-cluster div {
	width: 30px;
	height: 30px;
	margin-left: 5px;
	margin-top: 5px;

	text-align: center;
	border-radius: 15px;
	font: 12px "Oswald", sans-serif;
	color: #fff
	}
.marker-cluster span {
	line-height: 30px;
	}